@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
main {
  background-color: #f4f4f4;
  padding: 1rem;
}

h3,
h4 {
  padding: 0.5rem;
}
p {
  line-height: 1.5;
}

ul {
  list-style-type: disc;
  padding-left: 5rem;
}

.main-nav {
  list-style-type: none;
}

.main-nav li {
  display: inline;
  padding: 0.5rem 1rem;
}

.main-nav li a,
.main-nav li a:visited {
  border-bottom: 3px solid none;
  text-decoration: none;
  color: #ffdbd5;
}

.main-nav li:nth-child(1) a:hover {
  color: #ff0000;
  border-bottom: 3px solid #ff0000;
}

.main-nav li:nth-child(2) a:hover {
  color: #1100ff;
  border-bottom: 3px solid #1100ff;
}

.main-nav li:nth-child(3) a:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.main-nav li:nth-child(4) a:hover {
  color: #fbff00;
  border-bottom: 3px solid #fbff00;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
}

footer a,
a:visited {
  color: #131111;
  font-weight: bold;
  transition: 1s;
  text-decoration: none;
  border-bottom: 3px solid none;
}

footer a:hover {
  color: orange;
  border-bottom: 3px solid orange;
  text-decoration: none;
}
a,
a:visited {
  color: #131111;
  font-weight: bold;
  transition: 1s;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
